<mat-toolbar i18n>Link Details</mat-toolbar>
<mat-toolbar class="name-toolbar">{{link.name}}</mat-toolbar>
<div id="info-padding">
	<div class="list-item">
		<p *ngIf="!!link.properties.description">{{link.properties.description[0]}}</p>

		<div class="item-contents" id="properties">
			<p matListItemLine class="list-item" *ngFor="let tag of link.properties.tag || []">
				<mat-icon>place</mat-icon>
				{{tag}}
			</p>
			<p matListItemLine class="list-item" *ngIf="!!link.properties.throughput">
				<mat-icon>speed</mat-icon>
				{{link.properties.throughput[0]}} Gbps
			</p>
		</div>
		<div class="item-contents" id="connected-to">
			<p class="item-keyword" i18n>Connected to:</p>
			<ng-container *ngFor="let node of [link.nodeA, link.nodeB]">
				<p matListItemLine class="list-item">
					<mat-icon>brightness_1</mat-icon>
					{{node.name}}
				</p>
				<mat-divider></mat-divider>
			</ng-container>
		</div>
		<div class="item-contents" id="managed-by">
			<p class="item-keyword" i18n>Managed by:</p>
			<app-owner-info [owners]="link.owners"></app-owner-info>
		</div>
	</div>
</div>
